name: CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Build & Test (Maven)
        working-directory: bonjour-devops
        run: mvn -B clean test

      - name: Package (Maven)
        working-directory: bonjour-devops
        run: mvn -B clean package

      - name: Docker build
        run: docker build -t bonjour-devops:1.0 .